.footer {
  position: fixed;
  bottom: 0;
  background: $dark-purple;
  width: 100%;
  z-index: 5;
  padding: 10px 5%;
  .copyright-text {
    margin: 0;
    .copyright_owner {
      padding-left: 10px;
      color: $orange;
    }
  }
}
