@font-face {
  font-family: 'Montserrat';
  src: url(./font/Montserrat-Regular.ttf);
}

body {
  font-family: 'Montserrat';
  overflow-y: hidden;
  background: $black;
  color: $light-purple;
}

a {
  text-decoration: none;
  color: $light-purple;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
