.header-wrapper {
  background: $black;
  padding: 20px 5%;
  height: 80px;
  .nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;

    li {
      padding-right: 15px;
      color: $grey;
    }

    li:last-of-type {
      padding-right: 0;
    }
  }
}
